#wb_header { background: transparent none repeat scroll left top; height: 139px; }
#wb_header { height: 139px; }
#wb_main { background: transparent none repeat scroll left top; height: 370px; padding: 0 0 120px 0; }
#wb_main { height: 490px; }
#wb_footer { background: #ededed none repeat scroll left top; height: 27px; }
#wb_footer { height: 27px; }
body { background: transparent none no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 2650px; }
.root { width: 992px; height: 2650px; overflow: visible; }
#wb_element_instance841 { left: 540px; top: 40px; min-width: 436px; width: 436px; min-height: 90px; height: 90px; display: block; z-index: 197; }
#wb_element_instance841 ul { background: transparent none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance841, #wb_element_instance841 ul { text-align: left; }
#wb_element_instance841 ul ul { background: #000000 none repeat scroll left top; }
#wb_element_instance841 li { margin: 10px 10px 10px 10px; }
#wb_element_instance841 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance841 li:hover > a, #wb_element_instance841 li:focus > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #00eaff; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance841 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance842 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 150px; height: 150px; display: block; z-index: 105; }
#wb_element_instance842 img { width: 1370px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance843 { left: 65px; top: 34px; min-width: 124px; width: 124px; min-height: 71px; height: 71px; display: block; z-index: 106; }
#wb_element_instance843 img { width: 124px; height: 71px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance844 { left: 190px; top: 40px; min-width: 340px; width: 340px; min-height: 42px; height: 42px; display: block; z-index: 107; }
#wb_element_instance845 { left: 190px; top: 80px; min-width: 340px; width: 340px; min-height: 26px; height: 26px; display: block; z-index: 108; }
#wb_element_instance846 { left: 390px; top: 20px; min-width: 240px; width: 240px; min-height: 150px; height: 150px; display: block; z-index: 253; }
#wb_element_instance846 img { width: 240px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance847 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 380px; height: 380px; display: block; z-index: 108; }
#wb_element_instance847 > div { width: 1370px; height: 380px; background: #828282; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance848 {
	left: 146px;
	top: 191px;
	min-width: 630px;
	width: 696px;
	min-height: 30px;
	height: 30px;
	display: block;
	z-index: 280;
}
#wb_element_instance849 {
	left: 146px;
	top: 220px;
	min-width: 630px;
	width: 694px;
	min-height: 24px;
	height: 26px;
	display: block;
	z-index: 282;
}
#wb_element_instance850 { left: 0px; top: 390px; display: block; z-index: 9000; }

@media (min-width: 768px) {
	#wb_header { height: 139px; }
	#wb_main { height: 490px; }
	#wb_footer { height: 27px; }
	body, .wb_sbg { min-width: 992px; min-height: 656px; }
	.root { width: 992px; height: 656px; overflow: visible; }
	#wb_element_instance841 { left: 540px; top: 40px; min-width: 436px; width: 436px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance842 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 150px; height: 150px; display: block; overflow: hidden; }
	#wb_element_instance842 img { width: 1370px; height: 1370px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance843 { left: 65px; top: 34px; min-width: 124px; width: 124px; min-height: 71px; height: 71px; display: block; }
	#wb_element_instance843 img { width: 124px; height: 71px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance844 { left: 190px; top: 40px; min-width: 340px; width: 340px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance845 { left: 190px; top: 80px; min-width: 340px; width: 340px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance846 { left: 390px; top: 20px; min-width: 240px; width: 240px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance846 img { width: 240px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance847 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 380px; height: 380px; display: block; }
	#wb_element_instance847 > div { width: 1370px; height: 380px; }
	#wb_element_instance848 { left: 212px; top: 191px; min-width: 630px; width: 630px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance849 { left: 210px; top: 220px; min-width: 630px; width: 630px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 139px; }
	#wb_main { height: 490px; }
	#wb_footer { height: 27px; }
	body, .wb_sbg { min-width: 992px; min-height: 656px; }
	.root { width: 992px; height: 656px; overflow: visible; }
	#wb_element_instance841 { left: 540px; top: 40px; min-width: 436px; width: 436px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance842 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 150px; height: 150px; display: block; overflow: hidden; }
	#wb_element_instance842 img { width: 1370px; height: 1370px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance843 { left: 65px; top: 34px; min-width: 124px; width: 124px; min-height: 71px; height: 71px; display: block; }
	#wb_element_instance843 img { width: 124px; height: 71px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance844 { left: 190px; top: 40px; min-width: 340px; width: 340px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance845 { left: 190px; top: 80px; min-width: 340px; width: 340px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance846 { left: 390px; top: 20px; min-width: 240px; width: 240px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance846 img { width: 240px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance847 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 380px; height: 380px; display: block; }
	#wb_element_instance847 > div { width: 1370px; height: 380px; }
	#wb_element_instance848 { left: 212px; top: 191px; min-width: 630px; width: 630px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance849 { left: 210px; top: 220px; min-width: 630px; width: 630px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 139px; }
	#wb_main { height: 490px; }
	#wb_footer { height: 27px; }
	body, .wb_sbg { min-width: 992px; min-height: 656px; }
	.root { width: 992px; height: 656px; overflow: visible; }
	#wb_element_instance841 { left: 540px; top: 40px; min-width: 436px; width: 436px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance842 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 150px; height: 150px; display: block; overflow: hidden; }
	#wb_element_instance842 img { width: 1370px; height: 1370px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance843 { left: 65px; top: 34px; min-width: 124px; width: 124px; min-height: 71px; height: 71px; display: block; }
	#wb_element_instance843 img { width: 124px; height: 71px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance844 { left: 190px; top: 40px; min-width: 340px; width: 340px; min-height: 42px; height: 42px; display: block; }
	#wb_element_instance845 { left: 190px; top: 80px; min-width: 340px; width: 340px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance846 { left: 390px; top: 20px; min-width: 240px; width: 240px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance846 img { width: 240px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance847 { left: -170px; top: -10px; min-width: 1370px; width: 1370px; min-height: 380px; height: 380px; display: block; }
	#wb_element_instance847 > div { width: 1370px; height: 380px; }
	#wb_element_instance848 { left: 212px; top: 191px; min-width: 630px; width: 630px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance849 { left: 210px; top: 220px; min-width: 630px; width: 630px; min-height: 24px; height: 24px; display: block; }
}
