#isi_wb1{
	position: absolute;
	left:819px;top:360px;width:93px;height:15px;text-align:center;z-index:174;
}
#isi_wb1 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb2{
	position: absolute;
	left:829px;top:449px;width:93px;height:15px;text-align:center;z-index:174;
}
#isi_wb2 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb3{
	position: absolute;
	left:827px;top:515px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb3 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb4{
	position: absolute;
	left:826px;top:594px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb4 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb5{
	position: absolute;
	left:834px;top:667px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb5 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb6{
	position: absolute;
	left:831px;top:744px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb6 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb7{
	position: absolute;
	left:830px;top:815px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb7 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb8{
	position: absolute;
	left:830px;top:877px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb8 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb9{
	position: absolute;
	left:828px;top:943px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb9 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb10{
	position: absolute;
	left:835px;top:1002px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb10 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb11{
	position: absolute;
	left:830px;top:1066px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb11 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb12{
	position: absolute;
	left:831px;top:1132px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb12 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb13{
	position: absolute;
	left:835px;top:1198px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb13 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb14{
	position: absolute;
	left:835px;top:1256px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb14 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb15{
	position: absolute;
	left:835px;top:1323px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb15 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb16{
	position: absolute;
	left:835px;top:1383px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb16 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb17{
	position: absolute;
	left:835px;top:1445px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb17 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb18{
	position: absolute;
	left:835px;top:1504px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb18 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb19{
	position: absolute;
	left:835px;top:1565px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb19 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb20{
	position: absolute;
	left:835px;top:1626px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb20 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb21{
	position: absolute;
	left:835px;top:1691px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb21 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb22{
	position: absolute;
	left:835px;top:1756px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb22 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb23{
	position: absolute;
	left:835px;top:1816px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb23 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb24{
	position: absolute;
	left:835px;top:1878px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb24 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb25{
	position: absolute;
	left:627px;top:462px;width:83px;height:15px;text-align:center;z-index:174;
}
#isi_wb25 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb26{
	position: absolute;
	left:433px;top:448px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb26 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb27{
	position: absolute;
	left:433px;top:513px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb27 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb28{
	position: absolute;
	left:434px;top:585px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb28 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb29{
	position: absolute;
	left:433px;top:657px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb29 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb30{
	position: absolute;
	left:433px;top:745px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb30 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb31{
	position: absolute;
	left:433px;top:811px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb31 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb32{
	position: absolute;
	left:433px;top:877px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb32 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb33{
	position: absolute;
	left:433px;top:938px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb33 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb34{
	position: absolute;
	left:433px;top:1002px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb34 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb35{
	position: absolute;
	left:433px;top:1067px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb35 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb36{
	position: absolute;
	left:433px;top:1133px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb36 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb37{
	position: absolute;
	left:588px;top:1197px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb37 span{
	color:red;font-family:Arial;font-size:12px;
}













#isi_wb38{
	position: absolute;
	left:596px;top:1260px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb38 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb39{
	position: absolute;
	left:595px;top:1323px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb39 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb40{
	position: absolute;
	left:595px;top:1383px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb40 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb41{
	position: absolute;
	left:595px;top:1443px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb41 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb42{
	position: absolute;
	left:595px;top:1504px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb42 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb43{
	position: absolute;
	left:595px;top:1569px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb43 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb44{
	position: absolute;
	left:595px;top:1632px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb44 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb45{
	position: absolute;
	left:595px;top:1692px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb45 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb46{
	position: absolute;
	left:595px;top:1756px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb46 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb47{
	position: absolute;
	left:595px;top:1816px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb47 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb48{
	position: absolute;
	left:381px;top:1239px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb48 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb49{
	position: absolute;
	left:190px;top:1260px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb49 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb50{
	position: absolute;
	left:190px;top:1322px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb50 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb51{
	position: absolute;
	left:190px;top:1381px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb51 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb52{
	position: absolute;
	left:190px;top:1443px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb52 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb53{
	position: absolute;
	left:190px;top:1507px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb53 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb54{
	position: absolute;
	left:190px;top:1569px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb54 span{
	color:red;font-family:Arial;font-size:12px;
}
#isi_wb55{
	position: absolute;
	left:190px;top:1628px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb55 span{
	color:red;font-family:Arial;font-size:12px;
}

#isi_wb56{
	position: absolute;
	left:190px;top:1691px;width:76px;height:15px;text-align:center;z-index:174;
}
#isi_wb56 span{
	color:red;font-family:Arial;font-size:12px;
}


#wb_download1 { left: 70px; top: 1760px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 597; }
#wb_download1 .wb_button { width: 300px; height: 30px; font-family: Arial,Helvetica,sans-serif; font-size: 16px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: bold; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_download1 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_download1 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_download2 { left: 70px; top: 1730px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 598; }
#wb_download2 .wb_button { width: 300px; height: 30px; font-family: Arial,Helvetica,sans-serif; font-size: 16px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: bold; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_download2 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_download2 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }